{% extends "layout.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<h2>投稿画像一覧</h2>
      {% if session.logged_in %}

        {% for img in all %}
            <p><img src="/uploads/{{ img }}"></p>

        {% endfor %}
    {% else %}
      <th>現在、投稿はありません。</th>
    {% endif %}



    <form method="get" action="{{ url_for('show') }}" enctype="multipart/form-data">
      <div><button type="submit" class="btn btn-primary">
        <span class="glyphicon" aria-hidden="true"></span> 戻る</button></div>
    </form>


</body>
</html>
{% endblock %}