{% extends "layout.html" %}
{% block content %}

<div class="page">

  {% if session.logged_in %}
    <div class="panel panel-info">
        <h2>&emsp;テキスト投稿フォーム</h2>
    <form action="{{ url_for('add_entry') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
        <div>
          <label ><h4>&emsp;タイトル</h4></label>
            &emsp;<input type="text" class="form-control" name="title" size="10">
        </div>
        <div class="form-group">
          <label><h4>&emsp;本文</h4></label>
          &emsp;<textarea name="text" class="form-control" cols="10" rows=8></textarea>
        </div>
        <div class="form-group">
        &emsp;<button type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 投稿</button>
        </div>
        </div>
    </form>
    </div>

    <div class="panel panel-info">
    <form method="post" action="{{ url_for('image_entry') }}" enctype="multipart/form-data">
      <div class="form-group">
        <label for="img_file"><h3>&emsp;画像投稿フォーム</h3></label><br>
        <input type="file" id="img_file" name="img_file" class="col-sm-4">
      </div><br>
          &emsp;<button type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 送信</button>
      </div>

    </form>

    </div>
    <p><img src="/Users/hanadatomomi/PycharmProjects/flasker/media/1.png"></p>

    <form method="get" action="{{ url_for('image_entry') }}" enctype="multipart/form-data">
      <div>&emsp;<button type="submit" class="btn btn-primary">
        <span class="glyphicon" aria-hidden="true"></span> 画像一覧</button></div>
    </form>
      <div class="form-group">


<br>
<div class="panel panel-primary" align="center" >
  <tr class="entries">
      <h2>記事一覧</h2>
  {% for entry in entries %}
    <table style="width:70%;" border="1">
        <tr><th><h3 align="center">{{ entry.id }}</h3></th></tr>
        <tr><th><pre style="background-color: #CEECF5;" style="width:100%;"><h3 id="{{ entry.id }}">{{ entry.title }}</h3></pre></th></tr>
        <tr><td><pre style="background-color: #CEECF5;" style="width:100%;"><h5>{{ entry.text|safe }}</h5></pre></td></tr>
        <div class="btn-toolbar">
      <tr><td>
          <div class="btn-group">
      <form action="{{ url_for('delete_entry',post_id = entry.id) }}" method="POST">
       <button type="submit" class="btn btn-danger">
          <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> 削除</button>
      </form></div>

              <div class="btn-group">
      <form action="{{ url_for('edit',post_id = entry.id) }}" method="GET">
          <button type="submit" class="btn btn-success">
          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 編集</button>
      </form>
          </div>
      </td></tr>
        </div>
      <br>

    {% else %}

      <th>現在、投稿はありません。</th>

  {% endfor %}
  </tr>
</table>
  {% endif %}
</div>
<br>
{% endblock %}
